{% extends 'Admin/adminbase.html' %}
{% load static %}

{% block content %}

<main id="main" class="main">
    <style>
        
.container{
    width: 90%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container .content .right-side{
    width: 100%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button button[type="submit"]{
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #01a21c;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button button[type="submit"]:hover{
    background: #5029bc;
  }
  
  @media (max-width: 950px) {
    .container{
      width: 100%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 100%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
    </style>

    <div class="container mt-5 p-3">
        <div class="content m-4 p-4">
          
          <div class="right-side">
            <div class="topic-text">Password Reset Form</div>
            <br>
           
            <form action="{% url 'password_change' %}" method="POST" class="form-signin">
              {% csrf_token %}
              
                <input name="old_password" class="form-control mb-3 mt-2" placeholder="Old password" type="password" id="id_old_password" required="true">
                <input name="new_password1" class="form-control mb-3 mt-2" placeholder="New password" type="password" id="id_new_password1" required="true">
                <input name="new_password2" class="form-control mb-3 mt-2" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
            
                {% for field in form %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                {% endfor %}
            
              <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>  
            </form>
        </div>
        </div>
      </div>
</main>
 
{% endblock %}