{% extends 'Admin/adminbase.html' %}
{% load static %}


{% block content %}

<style>
    section
    {

        margin: 4vh;
       
    }
    .container
    {
        padding: 10px 5px;
    }
    .card
    {
       width: 100%;
       background-color: rgb(236, 233, 233);

    }
    .card .card-head
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: rgb(112, 109, 104);
        color: #fff;
        font-size: 1.1em;
        font-weight: 500;
    }
    .card .input-group 
    {
        display:flex;
        flex-direction: column;
        padding: 10px 5px;
        margin-bottom: 3vh; 
       
    }
    .card .input-group input , textarea
    {
        border: none;
        outline: none;
    }
    .card .input-group img{
        height: 10vh;
        width: 12vh;
        margin: 2vh;
    }
    .card .input-group .btns
    {
     padding: 5px; 
     text-align: end;
    }
    table{
        width:100%;
        border: 1px solid #fff;
    }
    table tbody td img{
        height: 7vh;
        width: 10vh;
    }

</style>

{% if value == 1 %}
    <section id="course">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="card overflow-auto">
                        <div class="card-head">COURSE UPDATE SECTION</div>
                        <div class="card-body">
                            <form action="{% url 'updatesetions' data.id 1 %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="p-2 m-2" name="cname" required value="{{data.course_name}}">
                                        <textarea rows="5" class="p-2 m-2" name="cdiscription">value="{{data.course_discr}}</textarea>
                                        {% if data.course_img %}
                                            <img src="{{data.course_img.url}}">
                                        {% endif %}
                                        <input type="file"class="p-2 m-2" name="cimage" accept="course/" >
                                        <div class="btns">
                                            <button class="btn btn-success" type="submit">Save</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        
    </section>

{% elif  value == 2 %}

    <section id="project">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="card overflow-auto">
                        <div class="card-head">ONGOING PROJECT UPDATE SECTION</div>
                        <div class="card-body">
                            <form action="{% url 'updatesetions' data.id 2 %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="p-2 m-2" name="pname" value="{{data.project_name}}">
                                    <textarea rows="5" class="p-2 m-2" name="pdiscription">{{data.project_discr}}</textarea>
                                    {% if data.project_img %}
                                        <img src="{{data.project_img.url}}">
                                    {% endif %}
                                    <input type="file"class="p-2 m-2" name="pimage" accept="project/" >
                                    <div class="btns">
                                        <button class="btn btn-success" type="submit">Save</button>
                                    </div>
                                
                                </div>
                            </form>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

{% else %}

    <section id="client">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="card overflow-auto">
                        <div class="card-head">CLIENT UPDATE SECTION</div>
                        <div class="card-body">
                            <form action="{% url 'updatesetions' data.id 3 %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="p-2 m-2" name="clname" value="{{data.client_name}}">
                                    <textarea rows="5" class="p-2 m-2" name="cldiscription">{{data.client_discr}}</textarea>
                                    {% if data.client_logo %}
                                        <img src="{{data.client_logo.url}}">
                                    {% endif %}
                                    <input type="file"class="p-2 m-2" name="clogo" accept="client/">
                                    <div class="btns">
                                        <button class="btn btn-success" type="submit">Save</button>
                                    </div>
                                
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

{% endif %}

{% endblock %}