{% load static %}
<!DOCTYPE html>
<html lang="en">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-238910742-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-238910742-1');
  gtag('config', 'G-DC8YW73M5C');


</script>
<meta name="description" content="ALTOS Technologies is a leading Software and Web development company based in Kochi, Kerala."/>
    
    <meta property="og:title" content="ALTOS">
    
    <meta property="og:url" content="https://altostechnologies.in/">
    
    <meta property="og:type" content="website" />
   
    <meta property="og:description" content="ALTOS Technologies is a leading Software and Web development company based in Kochi, Kerala.">

<head>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-238910742-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-238910742-1');
  gtag('config', 'G-DC8YW73M5C');

</script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>ALTOS Technologies | #1 Web & software development company in Kochi</title>
<meta name="description" content="OJT training under MNC professionals at the software & web development company in kochi. Python,3d modelling, digital marketing, accounting, xamarin,ar etc"/>
<meta name="base_url" content="https://altostechnologies.in/" />

<meta property="og:url" content="https://altostechnologies.in/" />
<meta property="og:type" content="Website" />
<meta property="og:title" content="Web & software development company in Kochi,KERALA" />
<meta property="og:description" content="OJT training under MNC professionals at the software & web development company in kochi. Python,3d modelling, digital marketing, accounting, xamarin,ar etc" />
<meta property="og:image" content="static/img/logo.png" />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

    <link href="static/img/Altos Logo-01.png" rel="icon">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">

   <!-- TOP NAV -->
   <!-- <div class="top-nav" id="home">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <p> <i class='bx bxs-envelope'></i> debra.holt@example.com</p>
                <p> <i class='bx bxs-phone-call'></i> (219) 555-0114</p>
            </div>
        </div>
    </div>
</div>  -->
<style>
    .navbar .active
    {
        color: #ff4d29;
        text-decoration: none;
       
    }

</style>
    

    <!-- BOTTOM NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="static/img/Altos Logo-01.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'load_index' %}#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'load_about' %}#counts">About Us</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'training_load' %}">Training</a>
                    </li>
                    
                   
                    
                </ul>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-brand ms-lg-3" style="background-color:#000; border:none">Contact</a>
            </div>
        </div>
    </nav>

    
{% block content %}


 
{% endblock %}


<style>
    .footer
    {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
        padding:40px;
        padding-bottom:10px;
        color: #fff;
        background-color: #171c21;
    }
    .footer > *
    {
        flex:1 100%;
    }
    .footer-left
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-left img{
        width: 35%;
    }
    h2{
        font-weight: 600;
        font-size:17px;
        color: #fff;
    }
    .footer ul{
        list-style: none;
        padding-left: 0;
       
    }
    .footer li{
        line-height:1.5em;
        padding: 5px;
    }
    .footer a{
        text-decoration: none;
    }
    .footer a:hover{
        text-decoration: none;
        color: #e90808;
    }
    .footer-right
    {
        
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
        padding: 5px;
        color: #fff;
        /* background-color: #340387; */
    }
    .footer-right > *
    {
        flex:1 60%;
        margin-right: 1.25em;
    }
    .box a{
        color: #999;
    }
    .footer-bottom
    {
        text-align: center;
        color: #999;
    }
    .footer-left p{
        padding-right:10%;
        color: #FFF;
    }
    .socials a{
        background:#364a62 ;
        width:40px;
        height: 40px;
        border-radius: 100%;
        display: inline-block;
        margin-right: 10px;
    }
    .socials a i{
        color: #e7f2f4;
        padding:10px;
        font-size:20px;
    }
    .socials a:hover{
        background-color: #e90808;
    }
    .box a i{
        color: #e7f2f4;
        font-size:20px; 
        padding: 2px;
    
    }
    @media screen and (min-width:600px)

    {
        .footer-right > *
        {
            flex:1;
        }
        .footer-left{
            flex:0.75 0px;
        }
        .footer-right
        {
            flex:2 0px;
        }
    }
    @media(max-width:600px)
    {
        .footer-left
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .footer-left img{
            margin-top: 10px; 
        }
        
        .footer
        {
            padding: 15px;
        }
    }
</style>





    <footer class="footer" >
        <div class="footer-left">
            <img src="static/img/footerlogo.png" alt="">
            <h2 class="mt-3 mb-3">ALTOS Technologies</h2>
            <!-- <p>ALTOS Technologies</p> -->
            <div class="socials mt-4">
                <a href="https://www.facebook.com/ALTOS-Technologies-100285829488811/about/?ref=page_internal"><i class='bx bxl-facebook'></i></a>
                <a href="https://www.instagram.com/altos_technologies/"><i class='bx bxl-instagram'></i></a>
                <a href="https://wa.me/+919746632202"><i class='bx bxl-whatsapp'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
        <ul class="footer-right">
            <li>
                <h2>Our Services</h2>
                <ul class="box">
                    <li><a href="#"><i class='bx bx-chevron-right'></i>Software</a></li>
                    <li><a href="#"><i class='bx bx-chevron-right'></i>3D Modelling</a></li>
                    <li><a href="#"><i class='bx bx-chevron-right'></i>Mobile Appilication</a></li>
                    <li><a href="#"><i class='bx bx-chevron-right'></i>Game Development</a></li>
                    <li><a href="#"><i class='bx bx-chevron-right'></i>Web Development</a></li>
                </ul>
            </li>
            <li class="features">
                <h2>Quick Links</h2>
                <ul class="box">
                    <li><a href="{% url 'load_index' %}#home"><i class='bx bx-chevron-right'></i>Home</a></li>
                    <li><a href="{% url 'load_about' %}#counts"><i class='bx bx-chevron-right'></i>About Us</a></li>
                    <li><a href="{% url 'training_load' %}"><i class='bx bx-chevron-right'></i>Training</a></li>
                    <li><a href="{% url 'training_load' %}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class='bx bx-chevron-right'></i>Contact</a></li>
                </ul>
            </li>
            <li>
                <h2>Contact Us</h2>
                <ul class="box">
                    <li><a href="#"><i class='bx bx-map '></i> 1st Floor, Carnival Infopark Phase 1, <br>Kakkand Eranakulam, Kerala, India 682042</a></li>
                    <li><a href="#"><i class='bx bx-envelope ' ></i> info@altostechnologies.in</a></li>
                    <li><a href="#"><i class='bx bx-phone '></i> +919746632202</a></li>
                    
                </ul>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>Copyright@2020. All rights Reserved <a href="https://altostechnologies.in/" style="color: #fff;  text-decoration: none;">ALTOS Technologies</a></p>
        </div>
    </footer>

 <!-- contact Modal -->

{% if msg %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      <script>
          swal("Successfully Mail Sended.");
      </script>
{% endif %}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-md">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="container-fluid">
                        <div class="close_button text-end">
                            <button type="button" class="btn-close p-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="row gy-4">
                            
                            <div class="col-lg-12">
                                <form class="p-lg-5 col-12 row g-3" action="{% url 'mail_send' %}" method="post">
                                      {% csrf_token %}
                                    <div>
                                        <h1>Get in touch</h1>
                                    <p>Fell free to contact us and we will get back to you as soon as possible</p>
                                    <p> <i class='bx bxs-phone-call'></i>+91&nbsp; 9746632202</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="userName" class="form-label">Full Name</label>
                                        <input type="text" class="form-control" id="userName"
                                            aria-describedby="emailHelp" required>
                                    </div>
                                    
                                    <div class="col-12">
                                        <label for="userName" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="userName"
                                            aria-describedby="emailHelp" required>
                                    </div>
                                    <div class="col-12">
                                        <label for="exampleInputEmail1" class="form-label">Enter Message</label>
                                        <textarea name=""  class="form-control" id=""  rows="4" required></textarea>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-brand mb-3">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

      <!-- Register Modal -->

      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
      {% if  message %}
      <script>
          swal("{{message}}");
      </script>
      {% endif %}

      <div class="modal fade" id="registermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                
                <div class="modal-body p-0">
                    
                    <div class="container-fluid">
                        <div class="close_button text-end">
                            <button type="button" class="btn-close p-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                      
                        <div class="row gy-4">
                            
                            <div class="col-lg-12">
                                <form class="p-lg-5 col-12 row g-3" action="{% url 'enquery_send' %}" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <h1 class="mt-3">Course Apply Form</h1>
                                    <p>Fill the the form and we will get back to you as soon as possible</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="userName" class="form-label">Full Name</label>
                                        <input type="text" class="form-control" name="fname" id="userName"
                                            aria-describedby="emailHelp"required>
                                    </div>
                                    
                                    <div class="col-12">
                                        <label for="mail" class="form-label">Email address</label>
                                        <input type="email" class="form-control" name="emailid"  id="mail"
                                            aria-describedby="emailHelp"required>
                                    </div>
                                    <div class="col-12">
                                        <label for="cont" class="form-label">Contact</label>
                                        <input type="tel" pattern="[6789][0-9]{9}"class="form-control" name="phno" id="cont"
                                            aria-describedby="emailHelp"required>
                                    </div>
                                    <div class="col-12">
                                        <label for="loc" class="form-label">Place</label>
                                        <input type="text" class="form-control" name="place" id="loc"
                                            aria-describedby="emailHelp"required>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-brand mb-3">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Enquery Form-->

    <div class="modal fade" id="enquerymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                
                <div class="modal-body p-0">
                    
                    <div class="container-fluid">
                        <div class="close_button text-end">
                            <button type="button" class="btn-close p-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                      
                        <div class="row gy-4">
                            
                            <div class="col-lg-12">
                                <form class="p-lg-5 col-12 row g-3" action="{% url 'project_enquery_send' %}" method="post">
                                    {% csrf_token %}
                                    <div>
                                        <h1 class="mt-3">Project Enquery</h1>
                                    <!-- <p>Fill the the form and we will get back to you as soon as possible</p> -->
                                    </div>
                                    <div class="col-lg-12">
                                        <label for="userName" class="form-label">Full Name</label>
                                        <input type="text" class="form-control" name="pfname" id="userName"
                                            aria-describedby="emailHelp" required>
                                    </div>
                                    
                                    <div class="col-12">
                                        <label for="mail" class="form-label">Email address</label>
                                        <input type="email" class="form-control" name="pemailid"  id="mail"
                                            aria-describedby="emailHelp"required>
                                    </div>
                                    <div class="col-12">
                                        <label for="cont" class="form-label">Contact</label>
                                        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" name="pphno" id="cont"
                                            aria-describedby="emailHelp"required>
                                    </div>
                                    <div class="col-12">
                                        <label for="loc" class="form-label">About Which Project</label>
                                        <textarea type="text" rows="5"class="form-control" name="msg" id="loc"
                                            aria-describedby="emailHelp"required></textarea>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-brand mb-3">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        const currentloc = location.href;
        const menuItem = document.querySelectorAll('a');
        const menuLength = menuItem.length
        for (let i=0; i<menuLength; i++)
        {
            if(menuItem[i].href === currentloc)
            {
                menuItem[i].className = "active"
            }
        }
    
    </script>
        

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>