{% extends 'User/base.html' %}
{% load static %}


{% block content %}


<style>
    .section{
        width: 100%;
	min-height: 85vh;
	background-color: #ddd;
    padding-bottom: 10px;
    }
    .section1{
        width: 100%;
	min-height: 130vh;
	background-color: #ddd;
    }
    #aboutus{
        width: 100%;
        display: block;
        margin:auto;
        padding-top: 100px;
    }
    .content-section{
        float: left;
        width: 70%;
    }
    .image-section{
        float: right;
        width: 30%;
    }
    .image-section img{
        width: 100%;
        height: auto;
    }
    .content-section .title{
        text-transform: uppercase;
        font-size: 26px;
    }
    .content-section .content h3{
        margin-top: 20px;
        color:#5d5d5d;
        font-size: 21px;
    }
    .content-section .content p{
        margin-top: 13px;
        font-family: sans-serif;
        font-size: 17px;
        line-height: 1.5;
        padding: 10px;
    }
    .content-section .content .button{
        margin-top: 3px;
    }
    .content-section .content .button button{
        background-color: #3d3d3d;
        padding:10px 20px;
        text-decoration: none;
        color:#fff;
        font-size: 18px;
        letter-spacing: 1.10px;
        border-radius: 10px;
    }
    .content-section .content .button button:hover{
        background-color: #a52a2a;
        color:#fff;
    }
    .content-section .social{
        margin:30px 30px;
    }
    .content-section .social i{
        color:#a52a2a;
        font-size: 20px;
        padding:0px 10px;
    }
    .content-section .social i:hover{
        color:#3d3d3d;
    }
    @media screen and (max-width: 768px){
        .aboutus{
        width: 80%;
        display: block;
        margin:auto;
        padding-top:50px;
    }
    .content-section{
        float:none;
        width:100%;
        display: block;
        margin:auto;
    }
    .image-section{
        float:none;
        width:100%;
        
    }
    .content-section .content p
        {
            padding: 5px;
            font-size: 17px;
           
        }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin:auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button button{
        padding:9px 30px;
    }
    .content-section .social{
        text-align: center;
    }
    
    }
    #invisible-text
    {
        display: none;
    }
    #dots
    {
        display: block;
    }
</style>


    <!-- SLIDER -->
    <div class="owl-carousel owl-theme hero-slider" id="home">
        <div class="slide slide1">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        <h2 class="text-white text-uppercase"></h2>
                        <h1 class="display-3 my-4">The world is changing with technology</h1>
                        <!-- <a href="#" class="btn btn-brand">Login</a>
                        <a href="#" class="btn btn-outline-light ms-3">SignUp</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 text-white">
                        <h2 class="text-white text-uppercase"></h2>
                        <h1 class="display-3 my-4">We Provide The Tech For You</h1>
                        <!-- <a href="#" class="btn btn-brand">Login</a>
                        <a href="#" class="btn btn-outline-light ms-3">SignUp</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="about_section">
		<div class="container" id="aboutus">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<!-- <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3> -->
					<p><b>ALTOS</b> Technologies is a leading Software and Web development company based in Kochi, Kerala. 
                        With the latest technology and framework, we continuously strive to improve ideas as a 
                        team of young, innovative thinkers. We are located in the IT hub of Kerala, Infopark Kochi, 
                        and have been helping businesses and individuals realize their full potential for years 
                        with our expertise in Software, Web development, Mobile application development, 
                        3D modelling, Game development etc. We are also providing On-the-Job training to 
                        students with the knowledge we have gained over the past few years in order for them to 
                        build a great career under professionals of multinational companies.
                    </p>
                        <p>
                            Having theoretical knowledge is not enough to sustain a newcomer in the industry. 
                            It is essential for students to accomplish real-world experience before they are hired 
                            to work in their fields on real projects in a real environment.
                        </p><span id="dots"></span>
                  
                        <span id="invisible-text">
                            
                            <p>
                                A company internship from  <b> ALTOS </b>  provides students with valuable insight into 
                                the way a company or industry operate in real-time situations. Moreover, the 
                                supervision of working professionals from the MNC companies will allow students 
                                to work with mentors who help them improve their skills and monitor their performance. 
                                During an internship with our company, students learn more about a specific topic while 
                                also bridging the gap between employers' job requirements and academics. 
                                They are prepared for the challenges of a full-time position within any organization, 
                                providing more insight into the specific topic. 
                            </p>
                            <p>
                                It has become a requirement for even entry-level jobs to have some industry experience in today's world. 
                                Employers can be convinced that a candidate is an asset to their company if they see they have made the 
                                best use of their time learning and building skills, as it allows them to cope with the new environment 
                                quickly and to establish connections with industry leaders and professionals without delay. Upon gaining 
                                appropriate experience, students can not only list the duties and tasks that they performed, but also 
                                describe them in a thoughtful, honest, and specific manner to interviewers.
                            </p>
                        </span>
                    
                   
					<div class="button">
						 <button  class="btn"  id="btn" onclick="MoreLess()">Read More</button>
					</div>
				</div>
				<div class="social">
					<a href="#"><i class='bx bxl-facebook'></i></a>
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-whatsapp'></i></a>
                            <a href="#"><i class='bx bxl-linkedin'></i></a>
				</div>
			</div>

            <style>

                .container .image-section{
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 15px;
                    position: relative;
                  }
                  .content .image-section::before{
                    content: '';
                    position: absolute;
                    height: 70%;
                    width: 2px;
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: #afafb6;
                  }
                  .image-section .details{
                    margin: 14px;
                    text-align: center;
                  }
                   .image-section .details i{
                    font-size: 30px;
                    color: #3e2093;
                    margin-bottom: 10px;
                  }
                   .image-section .details .topic{
                    font-size: 18px;
                    font-weight: 500;
                  }
                   .image-section .details .text-one,
                   .image-section .details .text-two{
                    font-size: 16px;
                    color: #161617;
                  }
                  @media (max-width: 950px) {
                  
                    .container .image-section{
                     width: 75%;
                     margin-left: 55px;
                  }
                }
            </style>

			<div class="image-section">
				<h4>Contact Us</h4>
                <div class="address details">
                    <i class='bx bxs-location-plus'></i>
                    <div class="topic">Address</div>
                    <div class="text-one">Altos Technologies, Phase 1</div>
                    <div class="text-two">Kakknad Infopark Kochi</div>
                  </div>
                  <div class="phone details">
                    <i class='bx bxs-phone' ></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+91 9746632202</div>
                    <!-- <div class="text-two">+0096 3434 5678</div> -->
                  </div>
                  <div class="email details">
                    <i class='bx bx-envelope' ></i>
                    <div class="topic">Email</div>
                    <div class="text-one">altostechnologies@gmail.com</div>
                    <!-- <div class="text-two">info.codinglab@gmail.com</div> -->
                  </div>
			</div>
		</div>
	</div>
    <script>
        function MoreLess()
        {
            console.log("clicked")
            var dots=document.getElementById("dots");
            var invisibletext=document.getElementById("invisible-text");
            var btntext=document.getElementById("btn");
            if(dots.style.display!="none")
            {
                dots.style.display="none";
                invisibletext.style.display="inline";
                $('#aboutus').addClass('section1')
                btntext.innerHTML="Read Less";
            }
            else {
                $('#aboutus').removeClass('section1')
                btntext.innerHTML="Read More";
                invisibletext.style.display="none";
                dots.style.display="block";
              }
        }
    </script>
    
   

    <!-- <section id="services" class="P-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <h6>Our Services</h6> 
                        <h1>About Us</h1>
                        <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p> 
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-12 col-md-6">
                    <div class="service">
                        <div class="card img-top">
                            <div class="card-body ">
                                 <img src="static/img/icon1.png" alt=""> 
                                <h5>On the Job Training</h5> 
                                
                                
                                
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <!-- <h6>Projects</h6> -->
                        <h1>Our Technologies</h1>
                        <!-- <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="projects-slider" class="owl-theme owl-carousel">
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/python.png" alt="">
                <div class="content">
                    <h2>Python</h2>
                    <h6></h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/react.png" alt="">
                <div class="content">
                    <h2>React</h2>
                    <h6>
                    </h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/angular.png" alt="">
                <div class="content">
                    <h2>Angular JS</h2>
                    <h6></h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/vr.png" alt="">
                <div class="content">
                    <h2>VR</h2>
                    <h6></h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/php.png" alt="">
                <div class="content">
                    <h2>PHP</h2>
                    <h6></h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/3d.png" alt="">
                <div class="content">
                    <h2>3D modelling</h2>
                    <h6></h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/android.png" alt="">
                <div class="content">
                    <h2>Android</h2>
                    <h6></h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/ai.png" alt="">
                <div class="content">
                    <h2>AI</h2>
                    <h6></h6>
                </div>
            </div>
            <div class="project">
                <div class="overlay"></div>
                <img src="static/img/game.png" alt="">
                <div class="content">
                    <h2>Game Development</h2>
                    <h6></h6>
                </div>
            </div>
            
           
        </div>
    </section>

    <style>
        #about
        {
            padding-top: 5px;
            padding-bottom: 80px;
        }
        #about img{
            border-radius: 100%;
        }
        @media(max-width:921px)
        {
            #about img{
                margin-top: 1.5rem;
            } 
        }
    </style>
    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row justify-content-center">
                
                    <div class="row">
                        <!-- <h4 class="mb-4">Additional Benefits</h4> -->

                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="info-box">
                                <img src="static/img/web.png" alt="">
                                <div class="ms-4">
                                    <h5>Web Development</h5>
                                    <!-- <p>Ensures that you are prepared to ace the interview. As part of our interview preparation, 
                                        we work on your presentation skills, body language, and other factors that help you land that dream job. 
                                    </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="info-box">
                                <img src="static/img/webhost.png" alt="">
                                <div class="ms-4">
                                    <h5>Web Hosting</h5>
                                    <!-- <p>Writing, speaking, and reading are only a few ways to communicate. As well as having an 
                                        appreciation for other cultures, it is also important to have an understanding and 
                                        appreciation for different business methods. Business or personal connections can be 
                                        built more effectively with good language skills. 
                                    </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="info-box">
                                <img src="static/img/digitalmarket.png" alt="">
                                <div class="ms-4">
                                    <h5>Digital Marketing </h5>
                                    <!-- <p>Personality refinement aims to polish and refine an individual's traits. Enhances a person's strength and minimizes 
                                        his or her weaknesses by using it wisely and properly. 
                                        It makes you feel good, gives you a positive outlook on life and creates a feeling of positivity within you. 
                                    </p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="info-box">
                                <img src="static/img/support.png" alt="">
                                <div class="ms-4">
                                    <h5>24 x 7 Tech Support </h5>
                                    <!-- <p>Personality refinement aims to polish and refine an individual's traits. Enhances a person's strength and minimizes 
                                        his or her weaknesses by using it wisely and properly. 
                                        It makes you feel good, gives you a positive outlook on life and creates a feeling of positivity within you. 
                                    </p> -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
            
                <!-- <div class="col-lg-5">
                    <img src="static/img/tech1.jpg" alt="">
                </div> -->
            </div>
        </div>
    </section>

    <style>
        #team .container{
            height: 550px;
            width: 100%;

        }
        
        #team .container img{
            height: 80%;
            width:100%;
            border-radius: 10px;
        }
        #team .container h5
        {
            color: #fff;
            font-size: 2rem;
        }
        @media(max-width:921px)
        {
            #team .container{
                height: 370px;
    
            }
            #team .container img{
                height: 80%;
                width:100%;
                border-radius: 10px;
                margin-bottom: 4px;
            }
        }
    </style>
    <h1 class="text-center mt-3 mb-2">Our Projects</h1>
    <section id="team" >
        <div class="container">
        
            
            <div class="owl-theme owl-carousel reviews-slider container p-2" id="content"  >
                    
                <div class="container p-3 text-center">
                    <h5 class="mb-4">CRM</h5>
                    <a href="" data-bs-toggle="modal" data-bs-target="#enquerymodal"><img src="static/img/crm.png" alt=""></a>
                </div>
                <div class="container p-3 text-center">
                    <h5 class="mb-4">ERP</h5>
                    <a href="" data-bs-toggle="modal" data-bs-target="#enquerymodal"><img src="static/img/erp.png" alt=""></a> 
                </div>
                <div class="container p-3 text-center">
                    <h5 class="mb-4">HRMS</h5>
                    <a href="" data-bs-toggle="modal" data-bs-target="#enquerymodal"><img src="static/img/hrms.png" alt=""></a> 
                </div>
                <div class="container p-3 text-center">
                    <h5 class="mb-4">ACCOUNTING</h5>
                    <a href="" data-bs-toggle="modal" data-bs-target="#enquerymodal"><img src="static/img/account.png" alt=""></a> 
                </div>
                
                
            </div>
            
            <!-- <div class="row justify-content-center">
                <div class="col-lg-3 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <h5>On the Job Training</h5>
                            <p class="p-2">
                                Understanding the requirements of the new job in 
                                the most convenient way. In addition to getting 
                                hands-on experience with new technologies, machinery, 
                                equipment, tools, materials, etc, and facing the challenges 
                                that might arise during their work, they also get the chance 
                                to learn and improve.
                            </p>
                             <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div> 
                            <div class="overlay">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <h5>Live Project Experience</h5>
                            <p class="p-2">
                                It's always best to focus on learning new things whenever possible. 
                                Your internship/live project gives you the opportunity to find out what's 
                                good and what's not. As far as improving your skills professionally is 
                                concerned, we will look at how to do so.
                            </p>
                            <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div> 
                            <div class="overlay">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <h5>Expert Trainers</h5>
                            <p class="p-2">
                                Our team of experienced professionals comes from MNC companies across 
                                every industry. They are dedicated and experienced in implementing, 
                                utilizing and enhancing the candidates' skills.
                            </p>
                             <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div> 
                            <div class="overlay">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8">
                    <div class="team-member">
                        <div class="image">
                            <h5>Most Updated Curriculum</h5>
                            <p class="p-2">
                                To help them hone the skills needed to succeed in their chosen field, 
                                we regularly update the most demanding syllabuses and the revised curriculum.
                            </p>
                            <div class="social-icons">
                                <a href="#"><i class='bx bxl-facebook'></i></a>
                                <a href="#"><i class='bx bxl-twitter'></i></a>
                                <a href="#"><i class='bx bxl-instagram'></i></a>
                                <a href="#"><i class='bx bxl-pinterest'></i></a>
                            </div> 
                            <div class="overlay">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    
    

    <section id="blog" class="clients_logo mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="intro">
                        <!-- <h6>Our Services</h6> -->
                        <h1>Our Clients</h1>
                        <!-- <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p> -->
                    </div>
                </div>
            </div>
            <div class=" clients row g-3">
                <div class="col-lg-3 col-md-4 col-sm-2">
                    <img src="static/img/l1.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2">
                    <img src="static/img/l2.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2">
                    <img src="static/img/l11.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2">
                    <img src="static/img/l4.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2">
                    <img src="static/img/l5.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2">
                    <img src="static/img/l6.png">
                </div>
                <div class="col-lg-3 col-md4 col-sm-2">
                    <img src="static/img/l7.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2">
                    <img src="static/img/l8.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2">
                    <img src="static/img/l9.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2 mb-3">
                    <img src="static/img/l10.png">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-2 mb-3">
                    <img src="static/img/l12.png">
                </div>
                
            </div>
        </div>
        
    </section>
    <!-- MILESTONE -->
    <!-- <section id="milestone">
        <div class="container">
            <div class="row text-center justify-content-center gy-4">
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">90K+</h1>
                    <p class="mb-0">Happy Clients</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">45M</h1>
                    <p class="mb-0">Lines of code</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">190</h1>
                    <p class="mb-0">Total Downloads</p>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h1 class="display-4">380K</h1>
                    <p class="mb-0">YouTube Subscribers</p>
                </div>
            </div>
        </div>
    </section> -->

  
    
   
    
   


{% endblock %}