{% extends 'User/base.html' %}
{% load static %}


{% block content %}

<style>
    #whyus .container
    {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 6px;
        margin:auto;
    }
    #whyus .title
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2vh 0vh;
    }
    #whyus .title h4{
        font-size: 2em;
        font-weight: 600;
    }
    #whyus .container p

    {
        font-size: 16px;
        text-align: justify;
    }
    #whyus .container p:hover
    {
        color: #06067c;
    }
</style>
<section id="whyus">
    <div class="container">

        <div class="title">
            <h4 class="line" style="color:rgb(208, 27, 27);">Why Us</h5>
        </div>

        <p class=""style="font-weight: 500;" >
            <i class='bx bx-right-arrow-alt'></i>A company internship from  <b> ALTOS </b>  provides students with valuable insight into 
            the way a company or industry operate in real-time situations. Moreover, the 
            supervision of working professionals from the MNC companies will allow students 
            to work with mentors who help them improve their skills and monitor their performance. 
            During an internship with our company, students learn more about a specific topic while 
            also bridging the gap between employers' job requirements and academics. 
            They are prepared for the challenges of a full-time position within any organization, 
            providing more insight into the specific topic. 
        </p>
        <p class=""style="font-weight: 500;" >
            <i class='bx bx-right-arrow-alt'></i>   It has become a requirement for even entry-level jobs to have some industry experience in today's world. 
            Employers can be convinced that a candidate is an asset to their company if they see they have made the 
            best use of their time learning and building skills, as it allows them to cope with the new environment 
            quickly and to establish connections with industry leaders and professionals without delay. Upon gaining 
            appropriate experience, students can not only list the duties and tasks that they performed, but also 
            describe them in a thoughtful, honest, and specific manner to interviewers.
        </p>
    </div>
</section>

<section id="blog" style="padding-top:10px;">
    <div class="container">
        
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <!-- <h6>Courses</h6> -->
                    <h1>COURSES WE PROVIDE</h1>
                    <!-- <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p> -->
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/python.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>PYTHON</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/angular.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>ANGULAR</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/project2.jpg" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>ACCOUNTING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
           
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/node.png" alt="">
                    <a href="#" class="tag">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>NODE JS</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/flutter.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>FLUTTER</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/3d.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>3D MODELING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/game.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>GAME DEVELOPMENT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/ios.jpg" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>IOS DEVELOPMENT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/xamarin.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>XAMARIN DEVELOPMENT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/Data-Science.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>DATA SCIENCE</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/dl.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>DEEP LEARNING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/react.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>REACT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/net.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>.NET</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/php.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>PHP</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/digital.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>DIGITAL MARKETING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/vr.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>AUGMENTED REALITY</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/cyber.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>CYBER SECURITY</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/android.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>ANDROID DEVELOPMENT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/ml.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>MACHINE LEARNING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}