{% extends 'User/base.html' %}
{% load static %}


{% block content %}

<section id="blog" style="padding-top:10px;">
    <div class="container">
        
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <!-- <h6>Courses</h6> -->
                    <h1>COURSES WE PROVIDE</h1>
                    <!-- <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p> -->
                </div>
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/python.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>PYTHON</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/angular.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>ANGULAR</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/project2.jpg" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>ACCOUNTING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
           
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/node.png" alt="">
                    <a href="#" class="tag">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>NODE JS</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/flutter.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>FLUTTER</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/3d.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>3D MODELING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/game.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>GAME DEVELOPMENT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/ios.jpg" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>IOS DEVELOPMENT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/xamarin.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>XAMARIN DEVELOPMENT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/Data-Science.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>DATA SCIENCE</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/dl.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>DEEP LEARNING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/react.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>REACT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/net.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>.NET</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/php.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>PHP</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/digital.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>DIGITAL MARKETING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/vr.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>AUGMENTED REALITY</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/cyber.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>CYBER SECURITY</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/android.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>ANDROID DEVELOPMENT</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <img src="static/img/ml.png" alt="">
                    <a href="#" class="tag" data-bs-toggle="modal" data-bs-target="#registermodal" class="btn btn-brand ms-lg-3">APPLY</a>
                    <div class="content">
                        <!-- <small>01 Dec, 2022</small> -->
                        <h5>MACHINE LEARNING</h5>
                        <!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                            piece of classical Latin literature from</p> -->
                    </div>
                </article>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}